.App {
  text-align: center;
}

.App-cake {
  height: 40vmin;
  pointer-events: none;
  z-index: 99999;
}

@media (prefers-reduced-motion: no-preference) {
  .App-cake {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffae00;
}
.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffae00;
}

.btn{
  background: #ef287e;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 1.2em;
  border-radius: 50px;
  cursor: pointer;
  margin: 20px;
  font-weight: bold;
  transition: ease-in-out 0.3s;
}
.btn:hover{
  background: #ff82bd;
}

.wishes {
  margin-top: 20px;
  color: #5cd3ff;
  animation: fadeIn 0.5s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
